* {
	font-size: 1em;
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial;
	line-height: 1.4;
	margin: 2em;
}

h2 {
	color: #444;
	font-size: 2em;
	margin: 1em 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;

	background: #f5f5f5;
	border: 1.5em solid #f5f5f5;
	width: 100%;
}
thead {
	font-weight: bold;
}
th {
	padding: 0.75em;
	border-bottom: 2px solid #ddd;
	text-align: left;
}
td {
	padding: 0.75em;
	border-bottom: 1px solid #ddd;
}


.propaganda td {
	background: #9F0;
	padding: 1em 0.5em;
	text-align: center;

	color: #333;
	font-style: italic;
}

.remove-item {
	background: #F30;
	border-radius: 2px;
	color: white;
	font-size: 0.7em;
	text-decoration: none;
	text-transform: uppercase;

	display: inline-block;
	padding: 0.5em;
}

input[type=button] {
	background: #F90;
	border: none;
	color: #333;
	text-transform: uppercase;

	box-shadow: 0 1px 3px #777;

	display: block;
	padding: 0.5em 1em;
	margin: 1em 0;

	-webkit-appearance: none;
}

.resumo {
	background: #555;
	color: white;
	padding: 1.5em;
	line-height: 2;
	margin: 2em 0;
}

.recuperados{
	background: #FE0;
}
